<h1>Change your settings</h1>

<%= form_for(@user) do |f| %>
	<%= render 'fields', :f => f %>
	<div class="actions">
		<%= f.submit "Update" %>
	</div>
<% end %>
(You must enter your password twice to change your settings.)

<div>
	<%= gravatar_for @user %>
	<a href="http://gravatar.com/emails">Change</a>
</div>